body{
    background-color:#1b1c1f;
}
#div1{
    background-color:#191a1c;
    border: 2px solid black;
    width: 400px;
    height: 500px;
    margin-left: 500px;
    margin-top: 50px;
    border-radius:8px;
   }

#display{
    
    border: 3px solid black;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    font-weight:800;
    width: 350px;
    height: 70px;
    border-radius: 10px;
    background-color:#9c9e55;
    text-align: right;
}
#remove{
    padding:9px;
    margin-top:0px;
    width: 150px;
    margin-left:25px;
    background-color: red;
    border-radius: 10px;
    font-size:xx-large;
    color: black;

}
.box{
    padding: 20px;
    margin-left: 30px;
    background-color: #2b2b29;
    border-radius: 10px;
    margin-bottom:5px;
    color: white;
}
#add{
    margin-left: 25px;
    padding: 20px;
    border-radius: 10px;
    height: 100px;
    background-color: #2b2b29;
    color: white;
   
}
#equal{
    margin-left: 30px;
    padding: 20px;
    background-color:#03a1fc;
    border-radius: 10px;
    color:white;
}
#dot{
    padding: 15px;
    margin-left: 25px;
    margin-bottom: 10px;
    font-size: xx-large;
    width: 50px;
    border-radius: 10px;
    background-color: #2b2b29;
    color: white;
}